@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #20232f;
    color: white;
}

.colorSelector {
    background: rgb(255, 0, 0);
    background: -moz-linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 16.6%,
        rgba(0, 255, 0, 1) 33.33%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 66.67%,
        rgba(255, 0, 255, 1) 83.33%,
        rgba(255, 0, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 16.6%,
        rgba(0, 255, 0, 1) 33.33%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 66.67%,
        rgba(255, 0, 255, 1) 83.33%,
        rgba(255, 0, 0, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 16.6%,
        rgba(0, 255, 0, 1) 33.33%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 66.67%,
        rgba(255, 0, 255, 1) 83.33%,
        rgba(255, 0, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#ff0000",GradientType=1);
}
